<!DOCTYPE html>
<html>
<head>
  <title><%= msj.title %></title>
</head>
<body>
  <h1><%= msj.message %></h1>
  <h2>Rutas</h2>
  <h3>/autor</h3>
  <h3>/integrantes</h3>
  <h3>/venta</h3>
</body>
</html>